.USERNAME {
    flex: 1.25;
    text-align: left;
    font-size: 145%;
    font-weight: 647% ;
}
.INFO {
    display: flex;
    border-style: solid;
    padding: 8px;
    margin-right: 17.5%;
    background-color: rgba(32, 30, 30, 0.301);
}
.TITLE {
    font: Arial;
    flex: 1.2;
    text-align: left;
    margin-right: 9.5%;
    font-size: 210%;
    font-weight:400;

}
.REVIEW-BOX {
    margin: 30px;
    margin-bottom: 160px;
}
.REVIEW-AREA {
    flex: 1;
    padding: 15px;
    background-color: rgba(104, 100, 100, 0.301);
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
    margin-right: 17.5%;
    font-size: 135%;
    font-weight: 400;
}