{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block CSS %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/gameinfobase.css') }}">{% endblock %}
{% block main %}
    <main>
        

            <div class="GAME-INFO-SEC">
                <div class="HEADING"><h1>{{ game_title.__getitem__(0) }}<br>{{ game_title.__getitem__(1) }}</h1>
                    <button type="button" class="GO-BACK"><a href="/games to review">x</a></button></div>
                    <hr>
                <p> {{ game_info.__getitem__(0) }} <br><br>
                    {{ game_info.__getitem__(1) }}
                    {{ game_info.__getitem__(2) }}
                    <br><br><br><br>Game Released on: {{ game_release}}

                </div>

            </div>

        </section>

    </main>
{% endblock %}