{% extends "base.html" %}
{% block title %}{{page_title}}{% endblock %}
{% block CSS %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/login.css') }}">{% endblock %}
{% block main %}
<main>

    
    <section class="LOGIN-INFO">
        <form class="LOGIN" method="POST">
            <h1 class="LOG-HEAD">Login Page:</h1>
            <p1> <i><small>NOTE: If you do not have an account and wish to make one, then click on the underlined 'Sign Up' button at the bottom, and if you wish to log out then click on the underlined 'Log Out' button at the bottom.</small></i></p1>
            <hr>
            <br>
            <label for="email">Email Address:</label><br>
            <input type="email", id="email", name="email", placeholder="yourname@gmail.com"><br>
            <label for="password">Password:</label><br>
            <input type="password", id="password", name="password", placeholder="Enter your password..."><br>
            <input type="submit", value="LOGIN">

        </form>
    
        <div class="OTHER-INFO">
            <a href="/signup">Sign Up</a>
            <a href="/logout">Log Out </a>
            
        </div>

    </section>

</main>

{% endblock %}